<ul>
	<li><a class="el-rename">Rename</a></li>
	<li><a class="el-info">More Info</a></li>
	<li><a class="el-share">Share</a></li>
	<li><a class="el-delete">Delete</a></li>
</ul>
<div><a class="el-close">Close</a></div>
