<li class="gp-favitem">
	<a>
		<div class="el-text"><%- name %></div>
	</a>
	<table style ="display: none;">
		<tr>
			<td><input type="text"></td>
			<!-- <td class="el-action"><input type="submit" value="Done"></td> -->
			<!-- <td class="el-action"><input type="button" value="Cancel"></td> -->
		</tr>
	</table>
</li>