<li>
	<div class="gp-result-item">
		<a class="gp-result-item-main">
			<div><%- name %></div>
			<span><%- formatted_address %></span>
		</a>
		<span><img src="img/icon-action.svg" /></span>
	</div>
	<div class="gp-result-action" style="display: none;">
		<a class="gp-result-action-fav"><img src="img/icon-star.svg" /><span>&nbsp;&nbsp;Favorite</span></a>
		<a class="gp-result-action-coor"><img src="img/icon-coordinate2.svg" /><span>&nbsp;&nbsp;Coordinate</span></a>
		<a class="gp-result-action-info"><img src="img/icon-link.svg" /><span>&nbsp;&nbsp;More Info</span></a>
	</div>
	<div class="gp-result-coor" style="display: none;">
		<a class="gp-result-coor-lat"><span class="ui-bold"><%- geometry.location.lat %>&nbsp;&nbsp;N</span></a>
		<a class="gp-result-coor-lng"><span class="ui-bold"><%- geometry.location.lng %>&nbsp;&nbsp;E</span></a>
		<a class="gp-result-coor-share"><img src="img/icon-share.svg"><span>&nbsp;&nbsp;Share</span></a>
	</div>
</li>