<form class="gp-search-form">
	<table>
		<tbody>
			<tr>
				<td class="gp-search-form-text"><input type="text" name="query" placeholder="Global Search"></td>
				<td class="gp-search-form-submit"><input type="submit" value="&nbsp;&nbsp;&nbsp;Go&nbsp;&nbsp;&nbsp;"></td>
			</tr>
		</tbody>
	</table>
	<ul class="gp-search-history"></ul>
</form>

<div class="gp-search-content anchor top-left bottom-right">

	<!-- Powered Logo -->
	<div class="gp-main-logo anchor middle-center" style="display: none;">
		<div>
			<img src="img/logo.svg" /> <br> <br>
			<div class="el-head">Geo Places</div>
			<br>
			<div class="el-desc">A place locator for your favorite GPS navigator!</div>
		</div>
	</div>

	<!-- Powered Logo -->
	<div class="gp-center-logo anchor bottom-center">
		<div>
			<img src="img/google-powered.svg" />
		</div>
	</div>

	<!-- Search Result Container -->
	<div class="gp-search-result anchor top-left bottom-right" style="display: none;">

		<!-- Loading Icon -->
		<div class="gp-loading anchor middle-center" style="display: none;">
			<img src="img/loading-spin.svg" />
		</div>

		<!-- General Error Page -->
		<div class="gp-error gp-error-query anchor middle-center" style="display: none;">
			<div>
				<img src="img/error.svg" />
				<h4 class="gp-error-text">&nbsp;</h4>
			</div>
		</div>

		<!-- General Info Page -->
		<div class="gp-info anchor middle-center" style="display: none;">
			<div>
				<h4 class="gp-text">&nbsp;</h4>
			</div>
		</div>

		<!-- Query Limit Error Page -->
		<div class="gp-error gp-error-limit anchor middle-center" style="display: none;">
			<div>
				<!-- <img src="img/google-powered.svg" /> -->
				<h4>query limit exceeded</h4>
				<p>
					Sorry for inconvenience, this app has reached its limit to search for places on Google. <br>
					<br> Help us upgrade our Google API account and increase (or remove) the limit.
				</p>
			</div>
		</div>

	</div>

</div>