<h3>About</h3>
<p>Geo Places is a place locator for any GPS navigator that supports geo URI.</p>
<p>It uses Google's database to search places that might not be in your offline navigator.</p>
<p>Another main feature is to minimize the data usage by using only search query and without in-app map that downloads a lot of resources.</p>
<br>
<h3>Notes</h3>
<p>If you're using Sygic, please specify it in the settings as Sygic accepts different URI scheme than others.</p>