<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<!-- Required for plugin whitelist -->
<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
<meta name="viewport"
	content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
<title>Geo Places</title>
<style type="text/css">
html, body {
	background-color: #4E4D4A;
}
</style>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body class="anchor anchor-overflow-hide top-left bottom-right">

	<!-- Head Bar -->
	<div id="gp-head" style="display: none;" class="anchor top-left top-right">
		<div class="ui-menu-bar anchor top-left full-height">
			<button id="gp-head-btn-main">
				<img class="gp-head-logo" src="img/logo.svg" /> <span>Geo Places</span>
			</button>
		</div>
		<div class="ui-menu-bar anchor top-right full-height">
			<button id="gp-head-btn-menu">
				<img class="gp-head-icon" src="img/icon-menu.svg" />
			</button>
		</div>
		<div class="gp-head-status">
			<div>Nearby Search Enabled</div>
		</div>
	</div>

	<!-- Body Container -->
	<div id="gp-body" class="anchor top-left bottom-right" style="z-index: 100;">
		<div>
			<div class="anchor middle-center">
				<img class="gp-loading" src="img/loading-spin.svg" alt="Loading icon" />
			</div>
		</div>
	</div>

	<!-- Top Level Notify -->
	<div id="gp-overlay" class="anchor top-left bottom-right" style="display: none;">
		<div class="app-overlay-background anchor top-left bottom-right"></div>
		<div class="anchor middle-center">
			<div class="app-overlay-container"></div>
		</div>
	</div>

	<!-- Top Level Notify -->
	<div id="gp-notify" class="anchor middle-center" style="display: none;">
		<div>
			<div class="gp-notify-text"></div>
		</div>
	</div>

	<script type="text/template" id="settings">
		<div class="app-settings-container">
			<div class="app-settings-boolean">
				<a class="app-settings-label">
					<div><%- name %></div>
					<span><%- description %></span>
				</a>
				<span class="app-settings-switch"><img></span>
			</div>
			<div class="app-settings-function">
				<a class="app-settings-label">
					<div><%- name %></div>
					<span><%- description %></span>
				</a>
			</div>
			<div class="app-settings-string">
				<a class="app-settings-label">
					<div><%- name %> : <%- value %></div>
					<span><%- description %></span>
				</a>
			</div>
			<div class="app-settings-number">
				<a class="app-settings-label">
					<div><%- name %> : <%- value %></div>
					<span><%- description %></span>
				</a>
			</div>
			<div class="app-settings-array">
				<a class="app-settings-label">
					<div><%- name %></div>
					<span><%- description %></span>
				</a>
			</div>
		</div>
	</script>

	<!-- Device Plugins -->
	<script type="text/javascript" src="cordova.js"></script>

	<!-- Dependency Scripts -->
	<script type="text/javascript" src="lib/jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="lib/jquery/jquery-ext.js"></script>
	<script type="text/javascript" src="lib/head-load-1.0.3.min.js"></script>

	<!-- Boot Up Engine -->
	<script type="text/javascript" src="core/boot.js"></script>

</body>
</html>
