@import 'reset.css';

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

input, button {
	border: none;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

p { line-height: 130%; }

.ui-btn:active {
	border: none;
	margin: 0;
}

.ui-bold {
	font-weight: bold !important;
}