
/**
 * Anchor CSS
 *
 * Enables an element to dock or anchor to corners and sides.
 *
 * ----------------------------------------------------------------
 * Relatively anchor to parent element (not to window)
 * ----------------------------------------------------------------
 * 
 * To use relatively anchor an element to its direct parent element, apply 
 * "position: relative;" style to parent element by adding class "anchor-wrap".
 *
 * e.g. <div class="anchor-wrap">
 * 			<div class="anchor top-left bottom-right">
 * 				...
 * 			</div>
 * 		</div>
 *
 * ----------------------------------------------------------------
 * Anchor to sides
 * ----------------------------------------------------------------
 *
 * An element that anchor to any side need to have a single direct child
 * element that wraps the content.
 *
 * e.g.	<div class="anchor middle-center">
 * 			<div>
 * 				<img ...>
 * 				<span>...</span>
 * 			</div>
 * 		</div>
 * 
 */

.anchor {
	display: block;
	position: absolute;
	overflow: visible;
}

.anchor-wrap {
	position: relative;
}

.anchor-overflow-auto {
	overflow: auto;
}

.anchor-overflow-hide {
	overflow: hidden;
}

.full {
	height: 100%;
	width: 100%;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

/* - - - ANCHOR CORNERS - - - - - - - - - - - - - - - - - - - - - */

.top-left {
	top: 0;
	left: 0;
}

.top-right {
	top: 0;
	right: 0;
}

.bottom-left {
	bottom: 0;
	left: 0;
}

.bottom-right {
	bottom: 0;
	right: 0;
}

/* - - - ANCHOR SIDES - - - - - - - - - - - - - - - - - - - - - */

.top-center {
	top: 0;
	left: 50%;
}

.top-center > *, .bottom-center > *, .middle-center > * {
	position: relative; 
	left: -50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.middle-left {
	left: 0;
	top: 50%;
}

.middle-left > *, .middle-center > *, .middle-right > * {
	position: relative; 
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.middle-center {
	left: 50%;
	top: 50%;
}

.middle-right {
	right: 0;
	top: 50%;
}

.bottom-center {
	bottom: 1px;
	left: 50%;
}