
.clear {
	clear: both;
}

.app-settings-container > div {
	clear: both;
	display: table;
	width: 100%;
}

.app-settings-container .app-settings-label {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.app-settings-boolean > span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 100%;
}

.app-settings .app-settings-collapse {
	text-align: center;
}

.app-settings .app-settings-item li > div {
	display: block;
}