@import 'flat/style.css';
@import 'anchor.css';
@import 'common.css';

body {
	overflow-y: hidden;
}

input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul li a {
	display: block;
}

input.active {
	background-color: #a1a1a1;
}

#gp-body {
	color: #dedede;
}

#gp-body > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
}

#gp-notify {
	z-index: 2000;
}

#gp-notify .gp-notify-text{
	background-color: #222;
	color: #eee;
	overflow: hidden;
	text-align: center;
}

#gp-head button.active {
	background-color: #0D5C72 !important;
}

#gp-head img {
	vertical-align: middle;
}

#gp-head span {
	vertical-align: middle;
}

#gp-head .gp-head-status {
	width: 100%;
	position: absolute;
}

#gp-head .gp-head-status > div {
	font-size: 120%;
	color: #ffffff;
	text-align: center;
	background-color: #FF8048;
	padding: 6px 2px 6px 2px;
	display: none;
}

#gp-search {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
}

#gp-search .gp-main-logo {
	text-align: center;
	font-size: 110%;
	/*text-transform: uppercase;*/
}

#gp-search .gp-main-logo .el-head {
	font-weight: bold;
}

#gp-search .gp-main-logo .el-desc {
	font-size: 80%;
	color: #a1a1a1;
	line-height: 150%;
}

#gp-search .gp-center-logo {
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#gp-search .gp-search-result {
	overflow: auto;
	background-color: #4E4D4A;
	overflow-x: hidden;
}

#gp-search .gp-search-result ul {
	background-color: #4E4D4A;
}

#gp-search .gp-search-result li {
	clear: both;
}

#gp-search .gp-search-result a.active {
	background-color: #0B0F17;
}

#gp-search .gp-search-form-submit input.active {
	background-color: #a1a1a1;
}

#gp-search .gp-search-result li div {
	color: #dedede;
	font-weight: bold;
	display: table;
	width: 100%;
}

#gp-search .gp-search-result .gp-result-item {
	background-color: #353432;
}

#gp-search .gp-search-result .gp-result-item a {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

#gp-search .gp-search-result .gp-result-item a span {
	color: #aaa;
	font-size: 75%;
	font-weight: normal;
}

#gp-search .gp-search-result .gp-result-item > span {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

#gp-search .gp-error, #gp-search .gp-info {
	text-align: center;
	width: 80%;
}

#gp-search .gp-error h4, #gp-search .gp-info h4 {
	text-transform: uppercase;
	font-weight: bold;
	color: #a1a1a1;
	font-size: 95%
}

#gp-search .gp-error p, #gp-search .gp-info p {
	color: #a1a1a1;
	font-size: 78%
}

#gp-search .gp-search-form table {
	width: 100%;
}

#gp-search .gp-search-form input[type=text] {
	width: 100%
}

#gp-search .gp-result-action a {
	display: block;
	width: 33.333333%;
	float: left;
	text-align: center;
}

#gp-search .gp-result-action a * {
	font-weight: normal;
	font-size: 80%;
	vertical-align: middle;
}

#gp-search .gp-result-coor a {
	display: block;
	width: 33.333333%;
	float: left;
	text-align: center;
}

#gp-search .gp-result-coor a * {
	font-weight: normal;
	font-size: 80%;
	vertical-align: middle;
}

#gp-search .gp-result-item span.active {
	background-color: #0B0F17;
}

#gp-search .gp-search-history {
	z-index: 1;
	position: absolute;
	display: block;
	width: 100%;
}

#gp-search .gp-search-history li {
	/*display: block;*/
}

#gp-search .gp-search-history a {
	background-color: #f1f1f1;
	color: #333;
}

#gp-search .gp-search-history a.active {
	background-color: #a1a1a1;
}

#gp-prime-menu {
	font-weight: bold;
	text-align: center;
}

#gp-prime-menu li {
	background-color: #353432;
}

#gp-prime-menu li.active {
	background-color: #0B0F17;
}

#gp-main-settings .app-settings-label span {
	color: #9a9a9a;
	font-size: 75%;
}

#gp-main-settings .app-settings-label.active {
	background-color: #333;
}

#gp-main-settings .app-settings-item li a {
	font-size: 90%;
}

#gp-main-settings .app-settings-item li > a {
	display: block;
}

#gp-main-settings .app-settings-item li a.active {
	background-color: #333;

}

#gp-main-settings .app-settings-item li span {
	vertical-align: middle;
}

#gp-main-settings .app-settings-item li img {
	vertical-align: middle;
}

#gp-main-settings .app-settings-item input {
	width: 100%;
}


#gp-main-settings .app-settings-multi {
	font-size: 90%;
}

#gp-main-settings .app-settings-multi li img.el-close {
	float: right;
}

#gp-main-settings .app-settings-input-button {
	text-align: right;
}

#gp-main-settings .app-settings-input-button a {
	text-align: center;
	display: inline-block;
	background-color: #aaa;
	color: #333;
}

#gp-main-settings .app-settings-input-button a.active {
	color: #aaa;
}

#gp-favorites h3 {
	font-weight: bold;
}

#gp-favorites h3 * {
	vertical-align: middle;
}

#gp-favorites ul.gp-favlist {
	overflow: auto;
	background-color: #4E4D4A;
	 /*pointer-events: none;*/
}

#gp-favorites ul.gp-favlist ul {
	position: absolute;
	width: 100%;
	background-color: #666;
	display: none;
}

#gp-favorites ul.gp-favlist ul li {
	width: 100%;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#gp-favorites a.active {
	background-color: #0B0F17;
}

#gp-favorites table {
	width: 100%;
}

#gp-favorites table input[type=submit] {
	width: 100%;
}

#gp-favorites table input[type=button] {
	width: 100%;
}

#gp-overlay {
	overflow-y: hidden;
}

.app-overlay-background {
	background-color: #333;
	background-color: rgba(0, 0, 0, 0.5);
	/*opacity: 0.5;*/
}

.gp-fav-action {
	color: #1a1a1a;
}

.gp-fav-action ul {
	background-color: #e1e1e1;
}

.gp-fav-action a {
	display: block;
}

.gp-fav-action ul li a.active {
	background-color: #8a8a8a;
}

.gp-fav-action div a {
	background-color: #B50400;
	color: #fff;
	text-align: center;
}

.gp-fav-action div a.active {
	background-color: #9B0400;
}

#gp-about {
	font-size: 80%;
	font-weight: normal;
	text-align: left;
}

#gp-about h3 {
	font-size: 120%;
}

